input{
  font-size: 70px;
}
body{

  background-color:blueviolet;
}

.list-item{
  font-size: 70px;
  background-color: lightblue;
  border-radius: 25px;
  text-align: left;
}

.checkbox{

}

.button{
  width: 100%;
  font-size: 70px;
  background-color:  burlywood;
  border-radius: 20px;
}


.full{
  width: 100%;
}

.half{
  width:50%;
}

.text{
  font-size: 60px;
  background-color: lightblue;
  border-radius: 25px;
  text-align: center;
}

.category{
  text-align: center;
  font-size: 70;
  border-radius: 25px;
  background-color: lightcoral;
}


select{
  text-align: center;
  width: 100%;
  height: 150px;
  font-size: 50px;
  background-color:  lightblue;
  border-radius: 20px;
}

.tmpList{
  font-size: 20px;
}

.tmpbutton{
  font-size: 45px;
}

.addbutton{
  width: 100%;
  font-size: 70px;
  background-color:  burlywood;
  border-radius: 20px;
  color: lightgreen;
  background-color: cadetblue;
  border-radius: 40px;
  opacity: 1.0;
  
}

.banner{
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: lightgrey;
  width: 99%;
  font-size: 40px;
  color: brown; 
  text-align: cent;
  opacity: .95;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;

}
